.main-page {
    height: 800px;
    display: flex;
    flex-direction: column;

    .header-page {
        background-color: #012665;
        height: 116px;
    }

    .body-page {
        background-color: white;
        flex: 1;
    }

    .footer-page {
        height: 168px;
        background-color: #020F1D;
        color: white;
    }

}