.label {
    font-size: 16px;
    color: black;
    margin: 0px;
    font-weight: bold;
}

.input {
    border: 1px solid black;
    padding: 12px;
    border-radius: 8px;
    outline: none;
    width: 100%;
}