.button-auth {
    width: 170px;
    height: 69px;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #110101;
    font-size: 30px;
    font-weight: 900;
    border: none;
} 

.button-auth:hover {
    background-color: #EEE617;
}